@font-face {
font-family: "icons";
src: url("../fonts/icons.eot?61c1bda8e34eaf07572ad6caab837a72#iefix") format("embedded-opentype"),
url("../fonts/icons.svg?61c1bda8e34eaf07572ad6caab837a72#icons") format("svg"),
url("../fonts/icons.ttf?61c1bda8e34eaf07572ad6caab837a72") format("truetype"),
url("../fonts/icons.woff?61c1bda8e34eaf07572ad6caab837a72") format("woff"),
url("../fonts/icons.woff2?61c1bda8e34eaf07572ad6caab837a72") format("woff2");
}

  i[class^="icon-"]:before, i[class*=" icon-"]:before {
font-family: icons !important;
font-style: normal;
font-weight: normal !important;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

    .icon-account-circle:before {
  content: "\f101";
  }
    .icon-alarms:before {
  content: "\f102";
  }
    .icon-arrow-left:before {
  content: "\f103";
  }
    .icon-arrow-right:before {
  content: "\f104";
  }
    .icon-close:before {
  content: "\f105";
  }
    .icon-danger-triangle:before {
  content: "\f106";
  }
    .icon-edit:before {
  content: "\f107";
  }
    .icon-eye-sharp:before {
  content: "\f108";
  }
    .icon-logout-circle:before {
  content: "\f109";
  }
    .icon-settings:before {
  content: "\f10a";
  }
    .icon-users:before {
  content: "\f10b";
  }
