@font-face {
font-family: "icons";
src: url("../fonts/icons.eot?70dfa30b25e7b0eb755599526d50f5e7#iefix") format("embedded-opentype"),
url("../fonts/icons.svg?70dfa30b25e7b0eb755599526d50f5e7#icons") format("svg"),
url("../fonts/icons.ttf?70dfa30b25e7b0eb755599526d50f5e7") format("truetype"),
url("../fonts/icons.woff?70dfa30b25e7b0eb755599526d50f5e7") format("woff"),
url("../fonts/icons.woff2?70dfa30b25e7b0eb755599526d50f5e7") format("woff2");
}

  i[class^="icon-"]:before, i[class*=" icon-"]:before {
font-family: icons !important;
font-style: normal;
font-weight: normal !important;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

    .icon-account-circle:before {
  content: "\f101";
  }
    .icon-alarms:before {
  content: "\f102";
  }
    .icon-arrow-left:before {
  content: "\f103";
  }
    .icon-arrow-right:before {
  content: "\f104";
  }
    .icon-close:before {
  content: "\f105";
  }
    .icon-danger-triangle:before {
  content: "\f106";
  }
    .icon-edit:before {
  content: "\f107";
  }
    .icon-logout-circle:before {
  content: "\f108";
  }
    .icon-settings:before {
  content: "\f109";
  }
    .icon-users:before {
  content: "\f10a";
  }
