@font-face {
    /*src: url("assets/fonts/Satoshi.ttf");*/
    font-family: "Satoshi";
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Open Sans,sans-serif;
    --sidebar-width: 200px
}
